<div>
  <mat-toolbar color="primary">
    <span>Politi-Quote</span>

    <span class="flex-space"></span>

    <span>
      <mat-icon>account_circle</mat-icon>
      Username
      <mat-icon>keyboard_arrow_down</mat-icon>
    </span>
  </mat-toolbar>

  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
